.loginformmain{
    background: url('./tokyoguesthouse1.png') no-repeat center;
    background-size: cover;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center; /*Center container horizontally*/

}
.loginform {
    align-self: center; /*Center container vertically*/
    align-content: center; /*Center Children vertically*/
    background-color: rgb(52, 50, 50, 0.75);
    border-radius: 15px;
    height: 500px;
    width: 500px;

}
.loginwrapper{
    color: white;

}

input {
    width: 15vw;
    height: 25px;
    border-radius: 5px;
    text-align: center;
}

input::placeholder {
    text-align: center;
}
.loginwrapper button {
    width: 230px;
    height: 35px;
}
.submitbutton {
    line-height: 10px;
    background-color: rgb(141, 135, 135);
    color:white;
    border-radius: 5px;
}
.submitbutton:hover {
    background-color: white;
    color: black;
}
.signupbutton {
    line-height: 10px;
    background-color:  rgb(141, 135, 135);
    color: white;
    border-radius: 5px;
}
.signupbutton:hover{
    background-color: white;
    color: black;
}
strong {
    font-size: 35px;
    color: white;
}
.loginmessage {
    color: white;
}

.loginwrapper label {
    color: white;
    display: inline-block;
    width: 100%;
}
